@import '../../assets/mixins.scss';

.category--list {
    max-width: 1440px;
    margin: 0 auto;
    
    @media (min-width: 1024px) {
        min-height: 100vh;
        @include flex-container($align: center, $dir: column, $justify: center);
    }

    ul {
        display: grid;
        grid-template-columns: auto auto auto auto;
        gap: 20px;

        .item--wrapper {
            @include flex-container($align: center, $dir: column, $justify: flex-start, $wrap: wrap);
            position: relative;
            padding: 15px;
            border-radius: 5px;
            box-shadow: 0px 1px 2px 0px #adacac;
            
            &-image {
                margin-bottom: 15px;
                width: 100%;

                img {
                    min-height: 150px;
                    max-height: 150px;
                    margin: 0 auto;
                    width: auto;
                }
            }

            &-rating {
                display: block;
                width: 35px;
                height: 35px;
                position: absolute;
                right: 0;
                top: 0;
                span {
                    font-size: 8px;
                    font-weight: bold;                    
                    position: absolute;
                    width: 35px;
                    height: 40px;                    
                    right: 0;
                    top: 0;
                    @include flex-container($align: center, $justify: center)
                }
            }

            &-content {
                margin: 5px 0;
                width: 100%;

                &__price {
                    color: var(--color-red);
                }

                &__brand {
                    font-size: 12px;
                    border-radius: 3px;
                    color: #fff;
                    padding: 2px 10px;
                    margin-top: 15px;
                    display: inline-block;
                    background-color: var(--button-main-background-color-hover);
                }

                &__description {
                    color: var(--vt-c-divider-dark-1);
                    font-size: var(--font-m);
                    margin-bottom: 15px;
                }

                &__action {
                    @include flex-container($align: flex-start, $dir: row, $justify: flex-start, $wrap: wrap);
                    margin-top: auto;
                    text-align: left;
                    width: 100%;

                    &-addtocart {                    
                        @include flex-container($align: center, $justify: center);
                        width: 100%;
                        border-radius: 3px;                        
                        font-weight: 400;
                        font-size: 14px;
                        padding: 5px 8px;
                        background-color: var(--button-main-background-color);
                        color: #fff;
                        border: 1px solid var(--button-main-background-color);

                        &::after {
                            content: '';
                            background-image: url('../../assets/images/cart-add-svgrepo-com-white.svg');
                            display: inline-block;
                            vertical-align: middle;
                            width: 25px;
                            height: 25px;
                            margin-left: 5px;
                        }

                        &:hover {
                            background-color: var(--background-green);
                            border-color: var(--background-green);
                            color: #fff;

                            &::after {
                                content: '';
                                background-image: url('../../assets/images/cart-add-svgrepo-com-white.svg');
                            }
                        }
                    }
                }

                &__product-name {
                    display: block;
                    text-decoration: none;
                    color: var(--vt-c-black-soft);
                }
            }   
            
            &:hover {
                cursor: pointer;
            }
        }   
    }

    &_pagination {
        max-width: 1440px;
        margin: 40px auto;
    }

    &__all {
        margin-bottom: 40px;
        ul {
            @include flex-container($align: center, $justify: flex-start)
        }

        &-item {
            background-color: var(--button-main-background-color-hover);
            color: #fff;
            border-radius: 3px;
            font-size: 14px;
            padding: 0 7px;
            cursor: pointer;

            &--all {
                background-color: var(--background-green);
                border-radius: 3px;
                font-size: 14px;
                padding: 0 7px;
                color: #fff;
                cursor: pointer;

                &.active {
                    background-color: var(--color-red);
                }
            }

            &.active {
                background-color: var(--color-red);
            }
        }
    }
}
