/* color palette from <https://github.com/vuejs/theme> */
:root {
  --font-base: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
  Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --font-custom: 'Inter', sans-serif;

  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);

  --background-green: hsla(160, 100%, 37%, 1);
  --color-red: #FF4A4A;
  --color-orange: #FF9551;
  --color-blue: rgb(185, 255, 248);
  --color-blue-lighter: rgb(111, 237, 214);
  --button-main-background-color: #002B5B;
  --button-main-background-color-hover: #2B4865;

  --font-m: 14px;
  --font-l: 16px;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: var(--font-custom);
  font-weight: 300;  
  font-size: var(--font-l);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  border: 1px solid var(--vt-c-divider-dark-2);
  padding: 10px;
  border-radius: 3px;
  font-size: var(--font-m);
  font-family: var(--font-custom);
}

input:focus {
  outline: 0;
}

ul,
li {
  list-style-type: none;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  
  &.rounded {
    border-radius: 5px;
  }
}

button {
  padding: 8px 12px;
  border: none;
  background-color: transparent;
  font-family: var(--font-base);
  text-transform: capitalize;
  display: inline-block;
  font-size: var(--font-m);
  cursor: pointer;
  line-height: 20px;
  font-weight: 400;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);

  &.main {
    width: auto;
    background: var(--button-main-background-color);
    color: #fff;
    min-width: 80px;

    &:hover {
      background: var(--button-main-background-color-hover);
    }
  }

  &.rounded {
    border-radius: 25px;
  }

  &.rounded-full {
    border-radius: 100%;    
  }

  &.outline {
    background: none;
    color: var(--vt-c-black);
    border: 2px solid var(--button-main-background-color);
  }
}
