/* color palette from <https://github.com/vuejs/theme> */
:root {
  --font-base: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
  Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --font-custom: 'Inter', sans-serif;

  --main-layout-max-width: 1280px;

  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);

  --background-green: hsla(160, 100%, 37%, 1);
  --color-red: #FF4A4A;
  --color-orange: #FF9551;
  --color-blue: rgb(185, 255, 248);
  --color-blue-lighter: rgb(111, 237, 214);

  --button-main-background-color: #24A19C;
  --button-main-background-color-hover: #6EBFB5;
  --button-secondary-background-color: #FD841F;
  --button-secondary-background-color-hover: #E14D2A;

  --font-m: 14px;
  --font-l: 16px;
  --font-xl: 18px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: var(--font-custom);
  font-weight: 300;  
  font-size: var(--font-l);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
select {
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--vt-c-white-soft);
    font-size: var(--font-m);
    font-family: var(--font-custom);
    outline: none;
}

select {
  padding: 10px;  
  color: var(--vt-c-text-light-2);
  -webkit-appearance: none;
  background-image: url('../assets/images/arrow-down-1-svgrepo-com.svg');
  background-repeat: no-repeat;
  background-position: 98% center;
  padding-right: 40px;
  background-size: 20px;
  cursor: pointer;
  &:focus {
    background-image: url('../assets/images/arrow-up-1-svgrepo-com.svg');
  }
}

input:focus {
  outline: 0;
}

ul,
li {
  list-style-type: none;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  
  &.rounded {
    border-radius: 5px;
  }
}

button,
.button {
  padding: 8px 12px;
  border: none;
  background-color: transparent;
  font-family: var(--font-base);
  text-transform: capitalize;
  display: inline-block;
  font-size: var(--font-m);
  cursor: pointer;
  line-height: 20px;
  font-weight: 400;
  transition: all .2s cubic-bezier(0.19, 1, 0.22, 1);
  text-decoration: none;
  text-align: center;

  &.main {
    width: auto;
    background: var(--button-main-background-color);
    color: #fff;
    min-width: 80px;

    &:hover {
      background: var(--button-main-background-color-hover);
    }
  }

  &.rounded {
    border-radius: 25px;
  }

  &.rounded-full {
    border-radius: 100%;    
  }

  &.outline {
    background: none;
    color: var(--vt-c-black);
    border: 2px solid var(--button-main-background-color);
  }

  &[disabled] {
    opacity: .5;
    cursor: not-allowed;
  }
}
