@import "./base.scss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');

main,
header {
  max-width: 1440px;
  margin: 20px auto;
}

nav {
  a {
    text-decoration: none;
  }
}