@import "./base.scss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');

main {
  margin: 20px auto;
  max-width: var(--main-layout-max-width);
}

nav {
  a {
    text-decoration: none;
  }
}

*::-webkit-scrollbar {
  width: 2px;
}
