<div class="about">  
    <div class="create--task-section">
        <input v-model="counter.message" placeholder="Add new task" />
        <button @click="counter.addTask(counter.message)" class="create main">
          Create new task
        </button>       
    </div>  
    <ul>
      <li v-for="item in counter.list" :key="item.id">
        <span class="task--text">{{ item.name }}</span>
        <button @click="counter.deleteTask(item.id)" class="rounded delete">
          
        </button>
      </li>
    </ul>
</div>