@import "../../assets/mixins.scss";

.about {
    @media (min-width: 1024px) {
        min-height: 100vh;
        @include flex-container($align: flex-start, $dir: column, $justify: center);
    }

    .create--task-section {
        @include flex-container($align: stretch);
        margin-bottom: 40px;
        button {
            &.delete-all {                
                @include flex-container($align: center, $dir: row);            

                span {
                    margin-right: 10px;
                    font-weight: 500;
                }

                &:hover {
                    background: none;
                }
            }
        }

        input {
            border: 2px solid var(--button-main-background-color-hover);
            border-radius: 0;      
        }
    }

    ul {
        display: flex;
        flex-wrap: wrap;

        li {
            margin-right: 10px;
            margin-bottom: 10px;
            
            @include flex-container($align: center, $dir: row, $justify: flex-start, $wrap: wrap);
            .task--text {
                margin-right: 10px;
            }
        }
    }
}