@import "../../assets/mixins.scss";

.about {
    max-width: 1440px;
    margin: 0 auto;
    
    @media (min-width: 1024px) {
        min-height: 100vh;
        @include flex-container($align: flex-start, $dir: column, $justify: center);
    }

    .create--task-section {
        @include flex-container($align: stretch);
        margin-bottom: 40px;

        input {
            border: 2px solid var(--button-main-background-color-hover);
            border-radius: 0;      
        }
    }

    ul {
        display: flex;
        flex-wrap: wrap;

        li {
            @include flex-container($align: flex-start, $dir: row, $justify: flex-start, $wrap: wrap);

            margin-right: 20px;
            margin-bottom: 20px;
            width: 200px;
            position: relative;
            background-color: var(--vt-c-white-soft);
            padding: 5px 10px;
            border-radius: 5px;
            box-shadow: 0px 1px 2px 0px #adacac;

            .delete {
                position: absolute;
                right: -10px;
                top: -10px;
                background-color: transparent;    
                background-image: url('../../assets/images/delete-svgrepo-com.svg');
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                min-width: auto;
            }

            .task--text {
                margin-right: 10px;
                width: 100%;
                margin-top: 5px;
            }
        }
    }
}